body {
    background-color: #A0E9FF;
    color:#e547ff;
    font-family: Arial, Helvetica, sans-serif, Helvetica, sans-serif;
    padding: 1em;
    margin: 0;
     }

h1 {
    color:;
    font-size: 2em;
    font-family:  ;
    border: 2px solid #30A2FF;
    background-color: darkblue ;
    width: 354px;
    }

h2 {
    font-size: 1.5em;

    
}





li{
    color: rgb(0, 0, 0);
    font-family: Impact, 'Arial Narrow Bold', sans-serif
}

a:link,
a:visited {
    color: #fb6542;
}

a:hover {
    text-decoration: none;
}
.table_nutrition {
    border: 2px solid;
    color:#e547ff;
    padding: 1px;
;  font-size: 15px;  
}

.mb_2 {
    margin-bottom: 2em;
}

.highlighted {
    border: solid 1px ;
    border-color: #30A2FF;
    width: 131px;
    background-color: darkblue;
}
tr:nth-child(odd) td {
    background-color: rgb(245,245,245);
  